@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
.sobreMi .sobreTitle {
  font-family: "Lato", sans-serif;
  color: rgba(255, 230, 0, 0.795);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem; }

.sobreMi .aboutMe, .sobreMi .parrafos {
  margin: 2% 25%;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  font-family: "Lato", sans-serif;
  color: white;
  text-align: center; }

.sobreMi .habilidades {
  margin: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  .sobreMi .habilidades img {
    padding: 15px; }

.trabajos .jobTitle {
  font-family: "Lato", sans-serif;
  color: rgba(255, 230, 0, 0.795);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem; }

.trabajos .jobCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly; }
  .trabajos .jobCont .workFoto {
    width: 20%; }

.contacto .contacTitle {
  font-family: "Lato", sans-serif;
  color: rgba(255, 230, 0, 0.795);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem; }

.contacto #contact {
  width: 100%;
  height: 100%; }
  .contacto #contact .contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    max-width: 840px;
    padding: 20px;
    /* Left contact page */
    /* Begin Right Contact Page */
    /* Location, Phone, Email Section */ }
    .contacto #contact .contact-wrapper .form-horizontal {
      max-width: 400px;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      display: flex;
      flex-direction: column; }
      .contacto #contact .contact-wrapper .form-horizontal .form-control, .contacto #contact .contact-wrapper .form-horizontal textarea {
        max-width: 400px;
        background-color: #000;
        color: #fff;
        letter-spacing: 1px;
        font-family: "Rubik", sans-serif;
        padding: 3px;
        border-radius: 10px;
        margin: 3px;
        text-align: center; }
      .contacto #contact .contact-wrapper .form-horizontal .send-button {
        margin-top: 15px;
        height: 34px;
        width: 400px;
        overflow: hidden;
        transition: all .2s ease-in-out;
        border-radius: 10px;
        letter-spacing: 1px;
        font-family: "Rubik", sans-serif;
        cursor: pointer; }
      .contacto #contact .contact-wrapper .form-horizontal .send-text {
        display: block;
        margin-top: 10px;
        font: 700 12px 'Lato', sans-serif;
        letter-spacing: 2px; }
      .contacto #contact .contact-wrapper .form-horizontal .alt-send-button:hover {
        transform: translate3d(0px, -29px, 0px); }
    .contacto #contact .contact-wrapper .direct-contact-container {
      max-width: 400px; }
    .contacto #contact .contact-wrapper .contact-list {
      list-style-type: none;
      margin-left: -30px;
      padding-right: 20px; }
    .contacto #contact .contact-wrapper .list-item {
      line-height: 4;
      color: #aaa; }
    .contacto #contact .contact-wrapper .contact-text {
      font: 300 18px 'Lato', sans-serif;
      letter-spacing: 1.9px;
      color: #bbb; }
    .contacto #contact .contact-wrapper .place {
      margin-left: 62px; }
    .contacto #contact .contact-wrapper .phone {
      margin-left: 56px; }
    .contacto #contact .contact-wrapper .gmail {
      margin-left: 53px; }
    .contacto #contact .contact-wrapper .contact-text a {
      color: #bbb;
      text-decoration: none;
      transition-duration: 0.2s; }
    .contacto #contact .contact-wrapper .contact-text a:hover {
      color: #fff;
      text-decoration: none; }

@media screen and (max-width: 410px) {
  .contacto .send-button {
    width: 99%; } }

footer {
  display: flex;
  align-items: center;
  justify-content: center; }
  footer .icons i {
    text-decoration: none;
    color: rgba(255, 230, 0, 0.795);
    padding: 15px; }

.works {
  margin: 5% 10%; }
  .works .worksContent {
    display: flex; }
    .works .worksContent .worksFoto {
      width: 480px; }
    .works .worksContent .parrafos {
      margin: 0 2%;
      line-height: 1.5rem;
      letter-spacing: 0.1rem;
      font-family: "Lato", sans-serif;
      color: white; }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

body {
  background-color: black; }
  body .foto {
    margin: 0 40%;
    width: 20%; }
  body .navBar {
    display: flex;
    align-items: center;
    justify-content: center; }
    body .navBar .link {
      text-decoration: none; }
      body .navBar .link .navList {
        font-family: "Zen Kurenaido", sans-serif;
        font-size: 2rem;
        text-transform: uppercase;
        list-style: none;
        color: rgba(255, 230, 0, 0.795);
        padding: 2px 35px;
        letter-spacing: 0.3rem; }
      body .navBar .link .navList:hover {
        font-weight: bold;
        cursor: pointer; }
  body .title,
  body .subTitle {
    background-color: #ffe600;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2rem; }
  body .title {
    font-family: "Lato", sans-serif;
    font-size: 4rem;
    margin-top: 5%;
    padding: 7px 10px; }
  body .subTitle {
    font-family: "Zen Kurenaido", sans-serif; }
  body .midTitle {
    font-family: "Rubik", sans-serif;
    color: white;
    text-align: center;
    letter-spacing: 0.2rem;
    margin: 2%;
    font-size: 1.5rem; }
