@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
.sobreMi .sobreTitle {
  font-family: "Lato", sans-serif;
  color: rgba(255, 230, 0, 0.795);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem; }

.sobreMi .aboutMe {
  margin: 2% 25%;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  font-family: "Lato", sans-serif;
  color: white;
  text-align: center; }

.sobreMi .habilidades {
  margin: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  .sobreMi .habilidades img {
    padding: 15px; }

.trabajos .jobTitle {
  font-family: "Lato", sans-serif;
  color: rgba(255, 230, 0, 0.795);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem; }

.trabajos .jobCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly; }
  .trabajos .jobCont .jobLink .workFoto {
    width: 20%; }

.contacto .contacTitle {
  font-family: "Lato", sans-serif;
  color: rgba(255, 230, 0, 0.795);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem; }

.contacto #form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
  /* on hover placeholder */ }
  .contacto #form input::-webkit-input-placeholder,
  .contacto #form textarea::-webkit-input-placeholder {
    color: #aca49c;
    font-size: 0.875em; }
  .contacto #form input:focus::-webkit-input-placeholder,
  .contacto #form textarea:focus::-webkit-input-placeholder {
    color: #bbb5af; }
  .contacto #form input::-moz-placeholder,
  .contacto #form textarea::-moz-placeholder {
    color: #aca49c;
    font-size: 0.875em; }
  .contacto #form input:focus::-moz-placeholder,
  .contacto #form textarea:focus::-moz-placeholder {
    color: #bbb5af; }
  .contacto #form input::placeholder,
  .contacto #form textarea::placeholder {
    color: #aca49c;
    font-size: 0.875em; }
  .contacto #form input:focus::placeholder,
  .contacto #form textarea::focus:placeholder {
    color: #bbb5af; }
  .contacto #form input::-ms-placeholder,
  .contacto #form textarea::-ms-placeholder {
    color: #aca49c;
    font-size: 0.875em; }
  .contacto #form input:focus::-ms-placeholder,
  .contacto #form textarea:focus::-ms-placeholder {
    color: #bbb5af; }
  .contacto #form input:hover::-webkit-input-placeholder,
  .contacto #form textarea:hover::-webkit-input-placeholder {
    color: #e2dedb;
    font-size: 0.875em; }
  .contacto #form input:hover:focus::-webkit-input-placeholder,
  .contacto #form textarea:hover:focus::-webkit-input-placeholder {
    color: #cbc6c1; }
  .contacto #form input:hover::-moz-placeholder,
  .contacto #form textarea:hover::-moz-placeholder {
    color: #e2dedb;
    font-size: 0.875em; }
  .contacto #form input:hover:focus::-moz-placeholder,
  .contacto #form textarea:hover:focus::-moz-placeholder {
    color: #cbc6c1; }
  .contacto #form input:hover::placeholder,
  .contacto #form textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em; }
  .contacto #form input:hover:focus::placeholder,
  .contacto #form textarea:hover:focus::placeholder {
    color: #cbc6c1; }
  .contacto #form input:hover::placeholder,
  .contacto #form textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em; }
  .contacto #form input:hover:focus::-ms-placeholder,
  .contacto #form textarea:hover::focus:-ms-placeholder {
    color: #cbc6c1; }
  .contacto #form input {
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: #726659;
    border: solid 1px #b3aca7;
    border-bottom: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out; }
  .contacto #form input:hover {
    background: #b3aca7;
    color: #e2dedb; }
  .contacto #form textarea {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    background: transparent;
    outline: none;
    color: #726659;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    border: solid 1px #b3aca7;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out; }
  .contacto #form textarea:hover {
    background: #b3aca7;
    color: #e2dedb; }
  .contacto #form #submit {
    width: 502px;
    padding: 0;
    margin: -5px 0px 0px 0px;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    color: #b3aca7;
    outline: none;
    cursor: pointer;
    border: solid 1px #b3aca7;
    border-top: none; }
  .contacto #form #submit:hover {
    color: #e2dedb; }

footer {
  display: flex;
  align-items: center;
  justify-content: center; }
  footer .icons i {
    text-decoration: none;
    color: rgba(255, 230, 0, 0.795);
    padding: 15px; }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

body {
  background-color: black; }
  body .foto {
    margin: 0 40%;
    width: 20%; }
  body .navBar {
    display: flex;
    align-items: center;
    justify-content: center; }
    body .navBar .link {
      text-decoration: none; }
      body .navBar .link .navList {
        font-family: "Zen Kurenaido", sans-serif;
        font-size: 2rem;
        text-transform: uppercase;
        list-style: none;
        color: rgba(255, 230, 0, 0.795);
        padding: 2px 35px;
        letter-spacing: 0.3rem; }
      body .navBar .link .navList:hover {
        font-weight: bold;
        cursor: pointer; }
  body .title,
  body .subTitle {
    background-color: #ffe600;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2rem; }
  body .title {
    font-family: "Lato", sans-serif;
    font-size: 4rem;
    margin-top: 5%;
    padding: 7px 10px; }
  body .subTitle {
    font-family: "Zen Kurenaido", sans-serif; }
  body .midTitle {
    font-family: "Rubik", sans-serif;
    color: white;
    text-align: center;
    letter-spacing: 0.2rem;
    margin: 2%;
    margin-top: 5%;
    font-size: 1.5rem; }
