.contacto {
    .contacTitle {
        font-family: $lato;
        color: $yellow;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
    }

    #contact {
        width: 100%;
        height: 100%;

        .contact-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0 auto;
            position: relative;
            max-width: 840px;
            padding: 20px;

            /* Left contact page */
            .form-horizontal {
                max-width: 400px;
                font-family: $lato;
                font-weight: 400;
                display: flex;
                flex-direction: column;

                .form-control, textarea {
                    max-width: 400px;
                    background-color: #000;
                    color: #fff;
                    letter-spacing: 1px;
                    font-family: $rubik;
                    padding: 3px;
                    border-radius: 10px;
                    margin: 3px;
                    text-align: center;
                }
    
                .send-button {
                    margin-top: 15px;
                    height: 34px;
                    width: 400px;
                    overflow: hidden;
                    transition: all .2s ease-in-out;
                    border-radius: 10px;
                    letter-spacing: 1px;
                    font-family: $rubik;
                    cursor: pointer;
                }
    
                .send-text {
                    display: block;
                    margin-top: 10px;
                    font: 700 12px 'Lato', sans-serif;
                    letter-spacing: 2px;
                }

                button {
                    padding: 1.3em 3em;
                    font-size: 12px;
                    text-transform: uppercase;
                    letter-spacing: 2.5px;
                    font-weight: 500;
                    color: #000;
                    background-color: #fff;
                    border: none;
                    border-radius: 45px;
                    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                    transition: all 0.3s ease 0s;
                    cursor: pointer;
                    outline: none;
                }

                button:hover {
                    background-color: #e2e52e;
                    box-shadow: 0px 5px 20px rgba(46, 229, 157, 0.4);
                    color: rgb(0, 0, 0);
                    font-size: 11px;
                    transform: translateY(-4px);
                }

                button:active {
                    transform: translateY(-2px);
                }
    
            }

            /* Begin Right Contact Page */
            .direct-contact-container {
                max-width: 400px;
            }

            /* Location, Phone, Email Section */
            .contact-list {
                list-style-type: none;
                margin-left: -30px;
                padding-right: 20px;
            }

            .list-item {
                line-height: 4;
                color: #aaa;
            }

            .contact-text {
                font: 300 18px 'Lato', sans-serif;
                letter-spacing: 1.9px;
                color: #bbb;
            }

            .place {
                margin-left: 62px;
            }

            .phone {
                margin-left: 56px;
            }

            .gmail {
                margin-left: 53px;
            }

            .contact-text a {
                color: #bbb;
                text-decoration: none;
                transition-duration: 0.2s;
            }

            .contact-text a:hover {
                color: #fff;
                text-decoration: none;
            }

        }
    }
}



@media (max-width: 576px) {

.contacto{    #contact {
        .contact-wrapper {
            flex-direction: column;
            align-items: center;
            form {
                margin-bottom: 5%;
            }
            .send-button {
                width: 99%;
            }
        }
    }}

}